
.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
}
/* share style  */
.btn {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border-radius: 50px;
}





/* main style  */


/* NAV  */
.nav-section {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 36px 0;
    background-color: #1A0B2E;
    /* color: #ffffff; */
}
.brand h2 {
    color: #ffffff;
}
.brand h2 span {
    background: linear-gradient(
    hsla(55, 92%, 61%, 1),
    hsla(318, 97%, 51%, 1),
    hsla(275, 100%, 49%, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#nav-toggle {
    display: none;
}
.hamburger {
    color: #ffffff;
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-a {
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-a a {
    text-decoration: none;
    color: #ffffff;
}
.hide {
    display: none;
}


/* service related style  */
.service-main-container {
    color: #ffffff;
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 120px;
}

.audio-service {
    grid-area: audio;
}
.mobile-service {
    grid-area: mobile;
}
.global-service {
    grid-area: global;
}
.exclusive-service {
    grid-area: exclusive;
}
.resources-service {
    grid-area: resources;
}

.service-container {
    display: grid;
    gap: 25px;
    width: 100%;
    grid-template-areas: 
    "audio audio mobile mobile mobile mobile"
    "audio audio mobile mobile mobile mobile"
    "audio audio global global global global"
    "audio audio global global global global"
    "exclusive exclusive exclusive exclusive resources resources"
    "exclusive exclusive exclusive exclusive resources resources"
    "exclusive exclusive exclusive exclusive resources resources"
}

.service-header {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

.for-padding {
    padding-top: 65px;
}
.service-box .only-for {
    width: 100px;
    height: 100px;
}
.service-box {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 50px;
    padding: 40px;
    align-items: center;
    display: inline-block;

}
.service-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 16px 0;

}
.service-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff81;

}
.service-image {
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 576px) {
/* NAV  */
     .hamburger {
        display: block;
     }
     .nav-a {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #1b0a2f;
     }
     .nav-a a {
        padding: 16px;
        border-top: 1px solid  rgba(255,255,255,0.1);
     }
     #nav-toggle:checked ~ .nav-a {
        display: flex;
     }
     .btn {
        display: none;
     }



/* SERVICE  */
    .service-container {
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "exclusive"
        "resources";
        width: 100%;
    }
    .service-main-container {
        padding: 20px;
    }
    
    
    .service-header {
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin-bottom: 16px;
    }
    .for-padding {
        padding-top: 5px;
    }
    .service-box .only-for {
        width: 100px;
        height: 100px;
    }
    .service-box {
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 20px;
        padding: 40px;
        align-items: center;
        display: inline-block;
    }
    .service-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #ffffff;
        margin: 16px 0;
    }
    .service-description {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff81;
    }
    .service-image {
        width: 60px;
        height: 60px;
    }

    }